/* AJAX page tree */
UL.tree { list-style: none; margin: 0 0 10px 0; padding: 0; }
UL.tree A		{ text-decoration: none; }
UL.tree A.pm	{ cursor: pointer; }
UL.tree IMG		{ vertical-align: middle; }
UL.tree UL		{ list-style: none; margin: 0; padding: 0; padding-left: 17px; }
UL.tree UL LI	{ list-style: none; margin: 0; padding: 0; line-height: 10px; white-space: nowrap; }
UL.tree UL LI.expanded UL	{ background: transparent url('../../../../gfx/ol/line.gif') repeat-y top left; }
UL.tree UL LI.last		{ background: transparent url('../../../../gfx/ol/joinbottom.gif') no-repeat top left; }
UL.tree UL LI.last > UL	{ background: none; }
UL.tree UL LI.active	{ background-color: #ebebeb !important; }
UL.tree UL LI.active UL	{ background-color: #f7f3ef; }
#dragIcon { z-index: 1; position: absolute; visibility: hidden; filter: alpha(opacity=50); -moz-opacity:0.5; opacity:0.5; white-space: nowrap; }



/* New element */
BODY#ext-categories-mod-newelement-index-php IMG { vertical-align: middle; }
BODY#ext-categories-mod-newelement-index-php A IMG { margin-right: 5px; }
BODY#ext-categories-mod-newelement-index-php A { text-decoration: none; }
BODY#ext-categories-mod-newelement-index-php IMG.c-helpImg { margin-left: 20px; text-align: right; }
BODY#ext-categories-mod-newelement-index-php DIV#typo3-newPageLink { margin-top: 20px; }
BODY#ext-categories-mod-newelement-index-php  TABLE#typo3-newRecord TR TD { padding-right: 20px; }

/* Category tree in TCE form */
BODY#ext-categories-mod-browsecat-index-php {background-color: white}
