
/* New element */
BODY#ext-categories-mod-list-newelement-wizard-php IMG { vertical-align: middle; }
BODY#ext-categories-mod-list-newelement-wizard-php A IMG { margin-right: 5px; }
BODY#ext-categories-mod-list-newelement-wizard-php A { text-decoration: none; }
BODY#ext-categories-mod-list-newelement-wizard-php IMG.c-helpImg { margin-left: 20px; text-align: right; }
BODY#ext-categories-mod-list-newelement-wizard-php DIV#typo3-newPageLink { margin-top: 20px; }
BODY#ext-categories-mod-list-newelement-wizard-php TABLE#typo3-newRecord TR TD { padding-right: 20px; }

/* Category tree in TCE form */
BODY#ext-categories-mod-browsecat-index-php {background-color: white}
